/client/node_modules
server/scripts/.env
/server/scripts/analysis_modules/__pycache__
/server/scripts/analysis_modules/additional_analysis_scripts/__pycache__
server/scripts/data_gen_modules/.DS_Store
server/static/.DS_Store
server/static/additional_analysis/.DS_Store
server/static/data/.DS_Store
server/static/data/backups
server/static/data/raw
server/static/data/state
/server/static/plots
/venv
/server/scripts/__pycache__
server/scripts/.DS_Store
/server/routes/__pycache__
server/scripts/analysis_modules/.DS_Store
server/__pycache__/app.cpython-311.pyc
server/.DS_Store
server/__pycache__/wsgi.cpython-311.pyc
client/.DS_Store
client/build/.DS_Store
client/build/team/.DS_Store
client/public/.DS_Store
client/public/team/.DS_Store
client/src/.DS_Store
/server/scripts/data_gen_modules/__pycache__
*.pem
*.key
*.crt
/server/logs
.env.development
.env.production
client/build/team
/server/static/team
server/logs/error.log
server/logs/access.log
